{% extends 'layouts/main.html' %}
{% block title %}About{% endblock %}
{% block content %}

<h1>Wren Lab</h1>
<p class="lead">Bioinformatics Wren Lab at the Oklahoma Medical Research Foundation.</p>
<a href="https://omrf.org/research-faculty/scientists/wren-jonathan-d/">Jonathan Wren</a>

{% endblock %}
