{% extends 'layouts/main.html' %}
{% block title %}WhyQC{% endblock %}
{% block content %}

<h1>{{page_title}}</h1>

<p> {{text_whyqc}} </p>

{% for file in downloadable_files %}
    <form action = {{url_for(file)}} method = "POST">
        <input class="btn-default" type="submit" name="my-form" value="{{downloadable_files_buttons[loop.index]}}">
    </form>
{% endfor %}

{% for table in tables %}
    <li class="flex-item flex-result flex-table">
        <h3>{{titles_tables[loop.index]}}</h3>
        <p>{{descr_tables[loop.index]}}</p>
        <span class="table-default">{{ table|safe }}</span>
    </li>
{% endfor %}

{% endblock %}
