{% extends 'layouts/main.html' %}
{% block title %}About{% endblock %}
{% block content %}

<h1>File an issue</h1>
<p class="lead">To report an issue with the webapp or the system, please send an e-mail to: error.correction.wrenlab@gmail.com</p>

{% endblock %}
