{% extends 'layouts/main.html' %}
{% block title %}Home{% endblock %}
{% block content %}

<h1>belai</h1>

<ul class="flex-container">

    <li class="flex-item">
        <h3>Give it a try with a sample gene list</h3>
        <form action = {{ url_for('quick_start') }} method = "POST">
            <input class = 'btn-default btn-flexitem' type = "submit" value = "Go"/>
        </form>
    </li>

    <li class="flex-item">
        <h3>Paste your list of entities</h3>
        <form action = {{url_for('paste_text')}} method = "POST">
            <textarea type="text" name="text"></textarea>
            <input class="btn-default btn-flexitem" type="submit" name="my-form" value="Submit text">
        </form>
    </li>
</ul>


{% endblock %}
