{% extends 'layouts/main.html' %}
{% block title %}Results{% endblock %}
{% block content %}

<h2>Enrichment analysis</h2>
<p class="attention" style='max-width:300px;'>(Beta: Showing truncated tables)</p>
<div>
    {% for table in tables %}
        <h3>{{tables_titles[loop.index]}}</h3>
        <span class="table">{{ table|safe }}</span>
    {% endfor %}
</div>


<h2>Common concepts analysis</h2>

<div>
    <p>Keywords that occur most commonly within the descriptions of entities in the list: {{ common_concepts|safe }}.</p>
</div>

<ul class="flex-container">

    {% for i in idx %}
        <li class="flex-item" entity_type={{entity_list[loop.index]}}>
            <h3>{{entity_list[loop.index]|safe}} ({{list2[loop.index]|safe}})</h3>
            <p>{{list3[loop.index]|safe}}</p>
            <p>{{list4[loop.index]|safe}}</p>
        </li>
    {% endfor %}

</ul>


{% endblock %}
