{% extends 'layouts/main.html' %}
{% block title %}Simple_text{% endblock %}
{% block content %}

<h1>{{page_title}}</h1>

<p>
{% for line in text %}
    {{line|safe}}<br>
{% endfor %}
</p>

{% endblock %}
