
/**
 * @file
 * Main stylesheet file.
 */


/*****************************************************************************
 * Main elements
 ****************************************************************************/
html {
  overflow-y: scroll;
}
a {
  cursor: pointer;
}
::selection {
  background: #555;
  color: #FFF;
}
::-moz-selection {
  background: #555;
  color: #FFF;
}
::-webkit-selection {
  background: #555;
  color: #FFF;
}



/*****************************************************************************
 * Various other styles
 ****************************************************************************/


:root {
    --blue: #4582EC;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #d9534f;
    --orange: #fd7e14;
    --yellow: #f0ad4e;
    --green: #02B875;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #868e96;
    --gray-dark: #343a40;
    --primary: #4582EC;
    --secondary: #adb5bd;
    --success: #02B875;
    --info: #17a2b8;
    --warning: #f0ad4e;
    --danger: #d9534f;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --theme-colour-medium-light:    #7cc5cc;
    --theme-colour-medium-dark:     #7cc5cc;
    --theme-colour-dark-gray:       var(--red);
    --theme-colour-dark:            #259faa;
    --theme-colour-white:           #e6f5f7;
    --theme-colour-black:           #343a40;
    --theme-colour-2:               #ffd199; /*pretty orange*/
    /*--theme-colour-2:               #eafaff; /*light blue*/
}

html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}

textarea[type=text] {
    width: 100%;
    height: 220px;
    font-size: 16px;
    color: black;
    line-height:1.3em;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 0px solid var(--theme-colour-black);
    background: white;
    resize: none;
}

h1 {
    font-size:3em;
    color: var(--theme-colour-black);
}
h2 {
    font-size:2.4em;
    color: var(--theme-colour-black);
}
h3 {
    font-size:2em;
    color: var(--theme-colour-black);
}

.infosign > span {
    position: relative;
    display: inline-block;
}

p {
    font-size:1.2em;
    color: var(--theme-colour-black);
}

.attention {
    background-color: var(--red);
}

a {
    font-size:1.2em;
}

img {
    max-width:100%;
}

#footer {
  background-color: var(--theme-colour-white);
}

.footnote {
    color: var(--theme-colour-dark-gray);
}

.separator-horizontal {
    border-top: 1px solid var(--theme-colour-dark-gray);
}


.input-email {
    height: 42px;
    width:  300px;
}


.btn-default {
    background-color: var(--theme-colour-medium-light);
    color: var(--theme-colour-black);
    border: none;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase; 
    display: inline-block;
    font-size: 16px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.2s;
    cursor: pointer;
    border: 0px solid var(--theme-colour-white);
  }
.btn-default:hover,
.btn-default:focus {
  background-color: var(--theme-colour-dark);
}
.btn-default:active,
.btn-default.active {
  background-color: var(--theme-colour-medium-light);
}

.btn-flexitem{
    width:100%;
}

.btn-primary,
.btn-success,
.btn-info,
.btn-warning,
.btn-danger {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, .2);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075);
}
.btn-default:active,
.btn-primary:active,
.btn-success:active,
.btn-info:active,
.btn-warning:active,
.btn-danger:active,
.btn-default.active,
.btn-primary.active,
.btn-success.active,
.btn-info.active,
.btn-warning.active,
.btn-danger.active {
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

.btn-primary {
}
.btn-primary:hover,
.btn-primary:focus {
  background-color: var(--theme-colour-2);
}
.btn-primary:active,
.btn-primary.active {
  background-color: var(--theme-colour-2);
}
.btn-success:hover,
.btn-success:focus {
  background-color: var(--theme-colour-2);
}
.btn-success:active,
.btn-success.active {
  background-color: var(--theme-colour-2);
}
.btn-info {
}
.btn-info:hover,
.btn-info:focus {
  background-color: var(--theme-colour-2);
}
.btn-info:active,
.btn-info.active {
  background-color: var(--theme-colour-2);
}
.btn-warning {
}
.btn-warning:hover,
.btn-warning:focus {
  background-color: var(--theme-colour-2);
}
.btn-warning:active,
.btn-warning.active {
  background-color: var(--theme-colour-2);
}
.btn-danger {
}
.btn-danger:hover,
.btn-danger:focus {
  background-color: var(--theme-colour-2);
}
.btn-danger:active,
.btn-danger.active {
  background-color: var(--theme-colour-2);
}



input[type="file"] {
    display: none;
    display: inline-block;

}

.file-upload-default {
    border: 1px solid var(--theme-colour-white);
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}


.thumbnail,
.img-thumbnail {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .075);
          box-shadow: 0 1px 2px rgba(0, 0, 0, .075);
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  background-color: var(--theme-colour-2);
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  background-color: var(--theme-colour-2);
}



.navbar-default {
  border-bottom: 4px solid;
  border-color: var(--theme-colour-dark);
  background: var(--theme-colour-medium-light);
}

.navbar-default .navbar-nav > .active {
  background-color: var(--theme-colour-2);
}


.navbar-brand,
.navbar-nav > li > a {
  background-color: var(--theme-colour-medium-dark);
  text-shadow: 0 1px 0 rgba(255, 255, 255, .25);
  text-align:center;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.2s;
  cursor: pointer;
}


.flex-container {
            padding: 0;
            margin: 0;
            list-style: none;

            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;

            flex-flow: row wrap;
            -webkit-flex-flow: row wrap;
            justify-content: flex-start;
            }

.flex-item {
            font-size: 10px;
            background: var(--theme-colour-white);
            padding: 5px;
            width: 350px;
            height: 350px;
            height: auto;
            margin-top: 10px;
            margin-right: 10px;

            /*
            line-height: 150px;
            color: white;
            text-align: center;
            */
}

.flex-btn {
            padding: 5px;
            margin-top: 10px;
            margin-right: 10px;

            /*
            line-height: 150px;
            color: white;
            text-align: center;
            */
}

.flex-result {
            width: auto;
            height: auto;
}

.flex-table{
}

.flex-plot{
}

table.dataframe, .dataframe th, .dataframe td {
  border: none;
  border-bottom: 3px solid var(--theme-colour-white);
  border-collapse: collapse;
  text-align:left;
  padding: 10px;
  margin-bottom: 40px;
  font-size: 0.9em;
  font-family: "Monospace";
}


.table th {
    background-color: var(--theme-colour-dark);
    color: #E0E1DC;
    color: #000;
}

tr:nth-child(odd)     { background-color:#eee; }
tr:nth-child(even)    { background-color:#fff; }
tr:hover              { background-color: var(--theme-colour-2);}

/*Mouseover*/

.mouseover   {
    cursor: pointer;
    position: relative;
    display: inline-block;
}

.mouseover-content {
    padding: 12px 12px;
    box-sizing: border-box;
    border: 0px solid var(--theme-colour-white);
    color: #000000;
    background-color: var(--theme-colour-2);
    display: none;
    position: absolute;
    min-width: 0px;
    z-index: 1;
    border: 6px solid #;
}

.mouseover-content a {
    display: block;
}

.mouseover-content a:hover {
    background-color: var(-theme-colour-black)
}

.mouseover:hover .mouseover-content {
    width: 200px;
    display: block;
}

.mouseover:hover .mouseover-infobox {
    /*
    background-color: #ccc;
    background-color: #ffd199;
    */
}

/* Flags */

.FlagIssue   {
    cursor: pointer;
    position: relative;
    display: inline-block;
}

.FlagIssue-content {
    padding: 12px 12px;
    box-sizing: border-box;
    border: 0px solid var(--theme-colour-white);
    color: #000000;
    background-color: var(--theme-colour-2); /*pretty orange*/
    background-color: #eee;
    display: none;
    position: absolute;
    min-width: 0px;
    z-index: 1;
    border: 6px solid #;
}

.FlagIssue-content a {
    display: block;
}

.FlagIssue-content a:hover {
    background-color: #f1f1f1
}

.FlagIssue:hover .FlagIssue-content {
    width: 200px;
    display: block;
}

.FlagIssue:hover .FlagIssue-infobox {
    /*
    background-color: #ccc;
    background-color: #ffd199;
    */
}

.FlagTest  {
    color: #204000
}

.FlagStats  {
    color: #804000;
}

.FlagURL  {
    color: #204000
}

.FlagFindPattern  {
    color: #804030
}

.FlagID  {
    color: #804830
}

/*****************************************************************************
 * Jupyter notebook
 ****************************************************************************/

 .inner_cell {
 }

/*****************************************************************************
 * Citations from Zotero
 ****************************************************************************/

 .csl-entry {
 }
